<!-- Content Row -->
<div class="row">
  <div class="col-md-4 mb-4">
    <!-- Card -->
    <div class="card">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="../../assets/images/16.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!-- Button -->
      <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i class="fas fa-chevron-right pl-1"></i></a>
      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">Card title</h4>
        <hr>
        <!-- Text -->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <!-- Card footer -->
      <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
        <ul class="list-unstyled list-inline font-small">
          <li class="list-inline-item pr-2 white-text"><i class="px-1 fa fa-phone"></i>05/10/2015</li>
          <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="far fa-comments pr-1"></i>12</a></li>
          <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fab fa-facebook-f pr-1"> </i>21</a></li>
          <li class="list-inline-item"><a href="#" class="white-text"><i class="fab fa-twitter pr-1"> </i>5</a></li>
        </ul>
      </div>
    </div>
    <!-- Card -->
  </div>
  <!-- /.col-md-4 -->
  <div class="col-md-4 mb-4">
        <!-- Card -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../../assets/images/67.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Button -->
          <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i class="fas fa-chevron-right pl-1"></i></a>
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
            <h4 class="card-title">Card title</h4>
            <hr>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
          <!-- Card footer -->
          <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
            <ul class="list-unstyled list-inline font-small">
              <li class="list-inline-item pr-2 white-text"><i class="px-1 fa fa-phone"></i>05/10/2015</li>
              <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="far fa-comments pr-1"></i>12</a></li>
              <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fab fa-facebook-f pr-1"> </i>21</a></li>
              <li class="list-inline-item"><a href="#" class="white-text"><i class="fab fa-twitter pr-1"> </i>5</a></li>
            </ul>
          </div>
        </div>
        <!-- Card -->
  </div>
  <!-- /.col-md-4 -->
  <div class="col-md-4 mb-4">
        <!-- Card -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../../assets/images/2.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Button -->
          <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><fa-icon [icon]="['fas', 'chevron-circle-right']" class="chevron-right"></fa-icon></a>
          <!-- Card content -->
          <div class="card-body text-secondary">
            <!-- Title -->
            <h4 class="card-title">照片分类</h4>
            <hr>
            <!-- Text -->
            <p class="card-text">Python3代码，实现统计照片，移动照片功能；按照拍摄地点，时间等规则分类存放，整理。方便预览，检索。</p>
          </div>
          <!-- Card footer -->
          <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
            <ul class="list-unstyled list-inline font-small">
              <li class="list-inline-item pr-2 white-text"><fa-icon [icon]="faClock" class="faClock"></fa-icon>05/01/2019</li>
              <li class="list-inline-item pr-2">一口价：<fa-icon [icon]="['fas','yen-sign']" class="faCoffee"></fa-icon>12</li>
              <li class="list-inline-item pr-2"><small class="text-muted">包学会</small></li>
              <li class="list-inline-item"><small class="text-muted">兼容</small></li>
            </ul>
          </div>
        </div>
        <!-- Card -->
  </div>
  <!-- /.col-md-4 -->

</div>
<!-- /.row -->

<div style="text-align:center">
  <fa-icon [icon]="['fas', 'angle-double-up']" class="faCoffee"></fa-icon>
</div>