<!-- Content Row -->
<a id="top"></a>
<div class="row">
  <div class="col-md-4 mb-4">
    <!-- Card -->
    <div class="card">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="../../assets/images/12.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!-- Button -->
      <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3" [routerLink]="['/services']">
        <fa-icon [icon]="['fas', 'ellipsis-h']" size=2x class="chevron-red"></fa-icon>
      </a>
      <!-- Card content -->
      <div class="card-body text-secondary">
        <!-- Title -->
        <h4 class="card-title">定制培训</h4>
        <hr>
        <!-- Text -->
        <p class="card-text">一个问题的解惑也是培训，我们满足用户个性化需求，内容无论大小，一切量需定制，
          让传授实现效率倍增。</p>
      </div>
      <!-- Card footer -->
      <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
        <ul class="list-unstyled list-inline font-small">
          <li class="list-inline-item pr-2 white-text"></li>
          <li class="list-inline-item pr-2 white-text"><span class="text-warning">&#9733;</span><small class="text-muted">量贩式选择</small></li>
          <li class="list-inline-item pr-2"></li>
          <li class="list-inline-item pr-2"><small class="text-muted">服务客户数量600+</small></li>
        </ul>
      </div>
    </div>
    <!-- Card -->
  </div>
  <!-- /.col-md-4 -->
  <div class="col-md-4 mb-4">
    <!-- Card -->
    <div class="card">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="../../assets/images/11.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!-- Button -->
      <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3" [routerLink]="['/services']">
        <fa-icon [icon]="['fas', 'ellipsis-h']" size=2x class="chevron-blue"></fa-icon>
      </a>
      <!-- Card content -->
      <div class="card-body text-secondary">
        <!-- Title -->
        <h4 class="card-title">课程内容</h4>
        <hr>
        <!-- Text -->
        <p class="card-text">课程均是全栈开发技术应用，打造web全栈工程师从入门到精通课程体系。授课内容来自企业实际需求，一线干货。
        </p>
      </div>
      <!-- Card footer -->
      <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
        <ul class="list-unstyled list-inline font-small">
          <li class="list-inline-item pr-2 white-text"></li>
          <li class="list-inline-item pr-2"><span class="text-warning">&#9733;</span><small class="text-muted">深厚积淀、值得托付</small></li>
          <li class="list-inline-item pr-2"><small class="text-muted"></small></li>
          <li class="list-inline-item"><small class="text-muted">挑战高薪，学web全栈开发</small></li>
        </ul>
      </div>
    </div>
    <!-- Card -->
  </div>
  <!-- /.col-md-4 -->
  <div class="col-md-4 mb-4">
    <!-- Card -->
    <div class="card">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="../../assets/images/2.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!-- Button -->
      <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3" [routerLink]="['/services']">
        <fa-icon [icon]="['fas', 'ellipsis-h']" size=2x class="chevron-green"></fa-icon>
      </a>
      <!-- Card content -->
      <div class="card-body text-secondary">
        <!-- Title -->
        <h4 class="card-title">便利店</h4>
        <hr>
        <!-- Text -->
        <p class="card-text">我们的定位就是便利店模式，没有冗余的流程，也没有繁琐的手续，解惑是我们的专业，节约你的时间就是我们的目标。
        </p>
      </div>
      <!-- Card footer -->
      <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
        <ul class="list-unstyled list-inline font-small">
          <li class="list-inline-item pr-2 white-text"></li>
          <li class="list-inline-item pr-2"><small class="text-muted">我们的优势是技术点的培训</small></li>
          <li class="list-inline-item"><span class="text-warning">&#9733;</span><small class="text-muted">DIY服务</small></li>
          <li class="list-inline-item pr-2">
            <fa-icon [icon]="['fas','yen-sign']" class="faCoffee"></fa-icon><small class="text-muted">2 起</small>
          </li>
        </ul>
      </div>
    </div>
    <!-- Card -->
  </div>
  <!-- /.col-md-4 -->

</div>
<!-- /.row -->

<div style="text-align:center">
  <a (click)="goTop()">
    <fa-icon [icon]="['fas', 'angle-double-up']" class="faCoffee"></fa-icon>
  </a>
</div>