<!-- Content Row -->
<a id="top"></a>
<div class="row">
  <div class="col-md-4 mb-4">
    <!-- Card -->
    <div class="card">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="../../assets/images/16.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
       <!-- Button -->
       <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><fa-icon [icon]="['fas', 'chevron-circle-right']" class="chevron-red"></fa-icon></a>
       <!-- Card content -->
       <div class="card-body text-secondary">
         <!-- Title -->
         <h4 class="card-title">定制培训</h4>
         <hr>
         <!-- Text -->
         <p class="card-text">个性话定制知识培训，范围、内容、以及价格是根据客户的定制要求而定的。培训的课程为全栈知识的所选内容。</p>
       </div>
       <!-- Card footer -->
       <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
         <ul class="list-unstyled list-inline font-small">
           <li class="list-inline-item pr-2 white-text"><fa-icon [icon]="faClock" class="faClock"></fa-icon>05/01/2019</li>
           <li class="list-inline-item pr-2">一口价：<fa-icon [icon]="['fas','yen-sign']" class="faCoffee"></fa-icon>12</li>
           <li class="list-inline-item pr-2"><small class="text-muted">包学会</small></li>
           <li class="list-inline-item"><small class="text-muted">兼容</small></li>
         </ul>
       </div>
     </div>
     <!-- Card -->
  </div>
  <!-- /.col-md-4 -->
  <div class="col-md-4 mb-4">
        <!-- Card -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../../assets/images/67.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
           <!-- Button -->
           <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><fa-icon [icon]="['fas', 'chevron-circle-right']" class="chevron-blue"></fa-icon></a>
           <!-- Card content -->
           <div class="card-body text-secondary">
             <!-- Title -->
             <h4 class="card-title">软件开发</h4>
             <hr>
             <!-- Text -->
             <p class="card-text">Python3代码，实现统计照片，移动照片功能；按照拍摄地点，时间等规则分类存放，整理。方便预览，检索。</p>
           </div>
           <!-- Card footer -->
           <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
             <ul class="list-unstyled list-inline font-small">
               <li class="list-inline-item pr-2 white-text"><fa-icon [icon]="faClock" class="faClock"></fa-icon>05/01/2019</li>
               <li class="list-inline-item pr-2">一口价：<fa-icon [icon]="['fas','yen-sign']" class="faCoffee"></fa-icon>12</li>
               <li class="list-inline-item pr-2"><small class="text-muted">包学会</small></li>
               <li class="list-inline-item"><small class="text-muted">兼容</small></li>
             </ul>
           </div>
         </div>
         <!-- Card -->
  </div>
  <!-- /.col-md-4 -->
  <div class="col-md-4 mb-4">
        <!-- Card -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="../../assets/images/2.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Button -->
          <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><fa-icon [icon]="['fas', 'chevron-circle-right']" class="chevron-green"></fa-icon></a>
          <!-- Card content -->
          <div class="card-body text-secondary">
            <!-- Title -->
            <h4 class="card-title">网上超市</h4>
            <hr>
            <!-- Text -->
            <p class="card-text">Python3代码，实现统计照片，移动照片功能；按照拍摄地点，时间等规则分类存放，整理。方便预览，检索。</p>
          </div>
          <!-- Card footer -->
          <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
            <ul class="list-unstyled list-inline font-small">
              <li class="list-inline-item pr-2 white-text"><fa-icon [icon]="faClock" class="faClock"></fa-icon>05/01/2019</li>
              <li class="list-inline-item pr-2">一口价：<fa-icon [icon]="['fas','yen-sign']" class="faCoffee"></fa-icon>12</li>
              <li class="list-inline-item pr-2"><small class="text-muted">包学会</small></li>
              <li class="list-inline-item"><small class="text-muted">兼容</small></li>
            </ul>
          </div>
        </div>
        <!-- Card -->
  </div>
  <!-- /.col-md-4 -->

</div>
<!-- /.row -->

<div style="text-align:center">
    <a (click)="goTop()"><fa-icon [icon]="['fas', 'angle-double-up']" class="faCoffee"></fa-icon></a>
</div>