.faCoffee {
	color: hsl(205, 87%, 79%);
}
.faClock{
	color: gainsboro;
}
.chevron-red{
	color:red;
}
.chevron-green{
	color:green;
}
.chevron-blue{
	color:blue;
}
.card-img-top {
    height: 15rem;
    object-fit: cover;
}