<div class="container">
    <h4 class="my-4 text-secondary text-left"><small>We introduces our biggest and best course yet! To cater to the
            changing role
            of developers and technologies around the world, we have introduced a brand new master course to become a
            Full Stack Web Developer.</small></h4>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline8">
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">2019</span>
                    <div class="timeline-content">
                        <h3 class="title">Plan</h3>
                        <p class="description">
                            The development of this website began in January; in March, the book "Angular7 Practical
                            Development" and "LoopBack 4 Introduction" were published; in April, the WeChat small
                            program "群友记事" was released in the second edition; the personal brand was
                            completed before May. In June, we passed the full stack qualification <a
                                class="btn-floating lighten-3" target="_blank"
                                href="https://verifyawards.stackroute.in/verify?url=https://awards.stackroute.in/public/assertions/NzkMoDMiR0aiaIfBqSNRcA.json?v=1_1">certification</a>.
                        </p>
                        <p class="description">
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">2018</span>
                    <div class="timeline-content">
                        <h3 class="title">Technical precipitation</h3>
                        <p class="description">
                            Unswervingly continue the full-stack technical route, the project also undertakes the
                            development and maintenance of five projects at the same time, and has a lot of joy😊, with
                            the establishment of the company training organization, the individual has created the model
                            idea of the team publishing, and established 3 expenditure books Team, in which "Java 8 实战"
                            has entered the first trial stage.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">2017</span>
                    <div class="timeline-content">
                        <h3 class="title">Happy year</h3>
                        <p class="description">
                            The highest honor of the year, the good boss, the good colleague, together with 996, I
                            became the cover person for the first time on newsletter.
                        </p>
                    </div>
                </div>
                <div class="timeline">
                    <span class="timeline-icon"></span>
                    <span class="year">2016</span>
                    <div class="timeline-content">
                        <h3 class="title">Good year</h3>
                        <p class="description">
                            It has been 3 years
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div style="text-align:center">
    <a (click)="goTop()">
        <fa-icon [icon]="['fas', 'angle-double-up']" class="faCoffee"></fa-icon>
    </a>
</div>