<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
  <div class="container">
    <a class="navbar-brand" href="#">全栈超市</a>
    <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    aria-controls="navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLinkActive]="['active']" [routerLink]="['/home']" class="nav-item nav-link">首页</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['active']" [routerLink]="['/about']" class="nav-item nav-link">关于</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['active']" [routerLink]="['/services']" class="nav-item nav-link">服务</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['active']" [routerLink]="['/contact']" class="nav-item nav-link">联系</a>
        </li>
      </ul>
    </div>
  </div>
</nav>