<!-- Page Content -->
<div class="container text-secondary">

  <div class="row">

    <div class="col-lg-3">
      <h1 class="my-4">服务内容</h1>
      <div class="list-group list-group-flush">
        <a [routerLink]="['/services']" (click)="goToContent()" class="list-group-item">定制培训</a>
        <a [routerLink]="['/services']" (click)="goToPrice()" class="list-group-item">收费标准</a>
        <a [routerLink]="['/services']" (click)="goToWebdev()" class="list-group-item">出书挂名</a>
      </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="card mt-4">
        <img class="card-img-top img-fluid" src="../../assets/images/dynamic-web.jpg" alt="">
        <div class="card-body">
          <h3 class="card-title">关于全栈工程师（Full-Stack Engineer）</h3>
          <p class="card-text">
            全栈开发人员是当今最受追捧的专业人士。 我们热衷于将其才华横溢的专业人士转变为数字技术的多技能全栈开发人员（FSD）。
            全栈开发人员可以将编程语言，数据模型，技术工具和工程实践结合起来，以解决端到端的问题。 FSD应该能够
          </p>
          <p class="card-text"><span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            构建响应Web应用程序</p>
          <p class="card-text"><span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            构建和测试丰富的前端应用程序</p>
          <p class="card-text"><span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            开发和测试RESTFul API层，在每一层进行自动化测试</p>
          <p class="card-text"><span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            构建微服务</p>
          <p class="card-text"><span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            使用NoSQL/SQL数据库，在CI / CD环境中工作</p>
        </div>
      </div>
      <!-- /.card -->

      <div class="card card-outline-secondary my-4" id="fullcontent">
        <div class="card-header">
          定制培训
        </div>
        <div class="card-body">
          <p>定制培训使用您已有的设备、安装和测试对象，可以缩短学习曲线，增加您的投资回报。</p>
          <small class="text-muted">定制培训的范围、内容、以及价格是根据客户的定制要求而定的。</small>
          <hr>
          <button type="button" class="btn btn-sm btn-outline-success" placement="right" ngbPopover="15871352105"
            popoverTitle="热线：">
            咨询电话
          </button>
        </div>
      </div>
      <!-- /.card -->

      <div class="card card-outline-secondary my-4">
        <div class="card-header" id="price">
          收费标准
        </div>
        <div class="card-body">
          <p>根据您的知识水平，我们将每个问题评定为：</p>
          <p> 1 - 无知识；2 - 仅仅知道概念；3 - 可以实施简单方案；4 - 可以实施复杂方案；5 - 专家</p>
          <p>我们按照阶梯进行收费，从级别1到2的学习，如：搭建简单的demo环境，解决1-2个技术问题，我们收费不超过10元。</p>
          <small class="text-muted">具体的价格请来电咨询，另，本网站的便利店中有具体的内容供选择。</small>
          <hr>
          <a [routerLink]="['/about']" class="btn btn-sm btn-outline-success">进入便利店</a>
        </div>
      </div>
      <!-- /.card -->

      <div class="card card-outline-secondary my-4">
        <div class="card-header" id="webdev">
          出书挂名
        </div>
        <div class="card-body">
          <p>少量主编，副主编等位置空缺</p>
          <p>我们自己出版专业书籍，同时少量主编，副主编等位置空缺。相比较发表晋升职称的，出书晋升更专业，更加能体现总体实力与综合素质。图书出版后，第一作者、ISBN书号、CIP核字号在新闻出版广电总局网站均可查询。</p>
          <small class="text-muted">评职要求里面著作和教材加分项更高,著作和教材的首选著作和教材，加分多价格更实惠，
            具体的价格请来电咨询。</small>
          <hr>
          <a [routerLink]="['/about']" class="btn btn-sm btn-outline-success">进入便利店</a>
        </div>
      </div>
      <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <div style="text-align:center">
    <a (click)="goTop()">
      <fa-icon [icon]="['fas', 'angle-double-up']" class="faCoffee"></fa-icon>
    </a>
  </div>
</div>
<!-- /.container -->