<!-- Page Content -->
<div class="container text-secondary">

  <div class="row">

    <div class="col-lg-3">
      <h1 class="my-4">定制培训</h1>
      <div class="list-group list-group-flush">
        <a [routerLink]="['/services']" class="list-group-item">培训内容</a>
        <a [routerLink]="['/services']" class="list-group-item">套餐价格</a>
        <a [routerLink]="['/services']" class="list-group-item">软件开发</a>
      </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="card mt-4">
        <img class="card-img-top img-fluid" src="../../assets/images/tree.jpeg" alt="">
        <div class="card-body">
          <h3 class="card-title">Web开发定制培训</h3>
          <h5>全栈工程师授课</h5>
          <p class="card-text">
            成为一名全栈Web开发人员需要您掌握很多技能。 对于初学者来说，找到正确的学习路径并获得快速结果通常并不容易。 
            学习是一个过程，我们的服务内容就是从开始理解您需要学习什么到最终协助您如何将所有东西融合在一起。
          </p>
          <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
          4.0 stars
        </div>
      </div>
      <!-- /.card -->

      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          课程内容
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
          <small class="text-muted">Html + CSS</small>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
          <small class="text-muted">Posted by Anonymous on 3/1/17</small>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
          <small class="text-muted">Posted by Anonymous on 3/1/17</small>
          <hr>
          <a href="#" class="btn btn-success">Leave a Review</a>
        </div>
      </div>
      <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->

  </div>

</div>
<!-- /.container -->