<!-- Heading Row -->
<div class="row my-4">
  <div class="col-lg-8">
    <img class="img-fluid rounded" src="../../assets/images/bridge.jpeg" alt="bridge">
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-4 text-secondary">
    <h2>听君一席话 胜读万卷书</h2>
    <p>勤奋固然重要，但没有方向的勤奋很可怕。做事情的方法有很多种，我们需要在选择上下功夫，会省去很多无用功。如果有位老师领路，
        我们不但能事半功倍，而且活得没那么辛苦，又能不断地成长。</p>
    <p>我们经营定制化培训，从某个知识点到全栈，量贩式选择，自由搭配，包学会！</p>
    <p>我们也出售代码，服务！</p>
    <a [routerLinkActive]="['active']" [routerLink]="['/home']">
      <button type="button" class="btn btn-outline-primary">广告招租!</button>
    </a>
  </div>
  <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<!-- Call to Action Well -->
<div class="card text-white bg-info my-4 text-center">
  <div class="card-body">
    <p class="text-white m-0">广告招租：这个展示一些重要信息或显示一个聪明标语的好地方！</p>
  </div>
</div>