<!-- Heading Row -->
<div class="row my-4">
  <div class="col-lg-8">
    <img class="img-fluid rounded" src="../../assets/images/website-development-training.jpg" alt="bridge">
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-4 text-secondary">
    Full-Stack Web Development, according to the Stack Overflow Developer Survey, is the most popular developer
    occupation today. It’s no wonder then that We have the ability to make you become Full-Stack Developers and then
    even assist you land high-paying programming jobs.<br>
    In our course there is not boring theories, sea tactics, etc. Instead I only proceed from reality and will be
    providing a definitive guide to what I believe are the most important skills required to become a Full-Stack Web
    Developer today.
    <br>
    <button type="button" class="btn btn-sm btn-outline-primary" placement="right" ngbPopover="15871352105"
      popoverTitle="Contact us">
      Call us
    </button>
  </div>
  <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<!-- Call to Action Well -->
<div class="card text-secondary bg-info my-4 text-center notie-color">
  <div class="card-body">
    <p class="text-secondary m-0">We have developed a set of accelerated courses, which will allow you to quickly become
      an FSD and arrange employment at the same time.
    </p>
  </div>
</div>